body {
 background-image: url("bg.jpg");
}
.login{
        width: 500px;
        overflow: hidden;
        margin: auto;
        margin: 10 0 0 340px;
        padding: 80px;
        background:#f7f0f7;
        border-radius: 20px ;

}
h2{
    text-align: center;
    color: black;
    padding: 20px;
}
label{
    color: black;
    font-size: 17px;
}
#Uname{
    width: 100%;
    height: 30px;
    border: none;
    background-color:#f0f7fc;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 100%;
    height: 30px;
    border: none;
    background-color:#f0f7fc;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color:#f0f7fc;
    border-radius: 17px;
    padding-left: 7px;
    color: black;


}
span{
    color: black;
    font-size: 16px;
}

